{{#if isPrimary}}
	<button class='{{classes.button}} {{classes.buttonPrimary}}' type={{type}} >
		{{title}}
	</button>
{{else}}
	<button class='{{classes.button}} {{classes.buttonSecondary}}' type={{type}} >
		{{title}}
	</button>
{{/if}}
