<div class='{{popupClasses}}' >
	{{#each actions}}
    	<div class={{../classes.action}} >
			{{{this.icon}}}

			<span class={{../classes.actionTitle}} >
				{{{this.text}}}
			</span>
		</div> 
	{{/each}}
</div>
