<form class={{classes.form}} >
	<div class={{classes.inputs}} >
		{{#each inputs}}
			{{{this}}}
		{{/each}}
	</div>

	<div class={{classes.buttons}} >
		{{#each buttons}}
			{{{this}}}
		{{/each}}
	</div>
</form>
