<div>
	{{{showMoreIcon}}}

	{{#if isPopupOpened}}
		<div class={{classes.popup}}>
			<div class={{classes.action}} >
				{{{addUser.icon}}}

				<span class={{classes.actionTitle}} >
					{{{addUser.text}}}
				</span>
			</div>

			<div class={{classes.action}} >
				{{{deleteUser.icon}}}

				<span class={{classes.actionTitle}} >
					{{{deleteUser.text}}}
				</span>
			</div>
		</div>
	{{/if}}

	{{{modalWindow}}}
</div>