<div>
	<div class={{classes.container}}>
		<div class={{classes.left}}>
			<div class={{classes.leftHeading}}>
				{{{profileLink}}}

				{{{search}}}
			</div>

			{{{chatsList}}}
		</div>

		{{{feed}}}
	</div>
</div>
