<div>
	<div class={{classes.container}}>
		<div class={{classes.left}}>
			<div class={{classes.leftHeading}}>
				<div class="{{classes.userControls}}">
					{{{profileLink}}}

					{{{logOutButton}}}
				</div>

				{{{search}}}
			</div>

			{{{chatsList}}}

			{{{addChatIcon}}}
		</div>

		{{{feed}}}
	</div>

	{{#if isLoading}}
		{{{loader}}}
	{{/if}}

	{{{snackBar}}}
</div>
