<div class={{classes.container}}>
	<div class={{classes.left}}>
		<div class={{classes.leftHeading}}>
			<a href={{href}} class={{classes.link}} >
				{{{linkText}}}
			</a>

			{{{search}}}
		</div>

		{{{chatsList}}}
	</div>

	{{{feed}}}
</div>
