<div class="{{classes.profile}}">
	{{{userAvatar}}}

	<h4 class="{{classes.firstName}}">
		{{{firstName}}}
	</h4>


	{{{form}}}

	{{{updatePhoto}}}

	{{#if isViewMode}}
		{{{actions}}}
	{{/if}}
</div>
