<div class="{{classes.profile}}">
	{{{userAvatar}}}

	<h4 class="{{classes.firstName}}">
		{{{firstName}}}
	</h4>


	<form class="{{classes.form}}">
		<div class="{{classes.inputs}}">
			{{#each inputs}}
				{{{this}}}
			{{/each}}
		</div>

		{{#if isEditMode}}
			{{{submitButton}}}
		{{else}}
			{{{actions}}}
		{{/if}}
	</form>
</div>