<form class="{{classes.form}}">
	<input class="{{classes.input}}" type="file" accept="{{ACCEPT_FILES}}" name="{{name}}" id="{{name}}" />

	<div class="{{classes.buttons}}">
		{{{submitButton}}}
		{{{cancelButton}}}
	</div>

	{{#if error}}
		<span class="{{classes.error}}">
			{{error}}
		</span>
	{{/if}}
</form>
