<form class="{{classes.form}}">
	{{{input}}}

	<div class="{{classes.buttons}}">
		{{{submitButton}}}
		{{{cancelButton}}}
	</div>

	{{#if error}}
		<span class="{{classes.error}}">
			{{error}}
		</span>
	{{/if}}
</form>
