<form class={{classes.form}} >
	<input name={{name}} id={{name}} placeholder={{placeholder}} class={{classes.input}} >

	<button type="submit" class={{classes.button}}>
		{{{sendButton}}}
	</button>
</form>
