<form class="{{classes.form}}">
		<div class="{{classes.inputs}}">
			{{#each inputs}}
				{{{this}}}
			{{/each}}

			{{#if passwordsError}}
				<div class="{{classes.passwordsError}}">
					{{{passwordsError}}}
				</div>
			{{/if}}
		</div>

		{{#if isButtonsVisible}}
			<div class="{{classes.buttons}}">
				{{{submitButton}}}
				{{{cancelButton}}}
			</div>
		{{/if}}
	</form>
