<div class={{classes.container}}>
	<input name={{name}} placeholder=" " id={{id}} class={{classes.input}} />

	<label class={{classes.label}} for={{id}} id='chats-sera' >
		{{{title}}}
	</label>
</div>
