<form class="{{classes.form}}">
	<label class="{{classes.label}}" for="{{name}}">
		{{{label}}}
	</label>

	<input class="{{classes.input}}" type="file" accept="{{ACCEPT_FILES}}" name="{{name}}" id="{{name}}" />

	{{{submitButton}}}

	{{#if error}}
		<span class="{{classes.error}}">
			{{error}}
		</span>
	{{/if}}
</form>
