<div class="{{classes.container}}" >
	<label class="{{classes.label}}" for="{{name}}" >
		{{{label}}}
	</label>

	<input class="{{classes.input}}" id="{{name}}" name="{{name}}"
		{{#if isDisabled}}
			disabled 
		{{/if}}

		placeholder="{{label}}"

		{{#if type}}
			type="{{type}}"
		{{/if}}
		/>

</div>
