<div class="{{classes.container}}" >
	<label class="{{classes.label}}" for="{{name}}" >
		{{{label}}}
	</label>

	{{{input}}}

	{{#if error}}
		<span class={{classes.error}} >
			{{{error}}}
		</span>
	{{/if}}
</div>
